* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 250px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar > * {
  padding: 1rem;
  color: black;
  margin: 0 2px;
}
.navbar > *:hover {
  border-bottom: 2px black solid;
}
.showcase {
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase .block {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.showcase .block input {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1.5 0rem;
}
.showcase .block button {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.search-bar {
  margin-top: 1rem;
}
.showcase .block a {
  text-decoration: none;
  background: #eeee;
  color: black;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: 1rem;
}
.showcase .block a:hover {
  border: 2px black solid;
}
.algeria {
  background: darkgrey;
  padding: 1rem;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.left {
  display: flex;
}
.left > h1 {
  padding: 0.5rem;
}
.right {
  display: flex;
}
.right > h1 {
  padding: 0.5rem;
}
